@import "../../scss/variables";

.register-main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    background-color: $colorOne;

    .register-form {
        width: 40%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        border-radius: 1rem;
        
        .register-title-div {
            margin-top: 5%;
            margin-bottom: 3%;
            // border-bottom: 1px solid black;
            width: 50%;
            padding-bottom: 2%;

            h2 {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        .register-input {
            width: 60%;
        }

        .register-button-div {
            margin-top: 3%;
        }

        .register-register-button {
            background-color: #fc743e;
            width: 13rem;
            font-size: 0.9rem;
            &:hover {
                box-shadow: 0 0 1rem 2px #fc743e;
            }
        }

        .register-button-div, .register-google-div {
            width: 100%;
            display: flex;
            justify-content: center;
            
            .register-google-button {
                background-color: #fc743e;
                width: 13rem;
                font-size: 0.9rem;
                padding: 0;
                margin-top: 2%;
                &:hover {
                    box-shadow: 0 0 1rem 2px #fc743e;
                }
    
                img {
                    margin-left: 1rem;
                    width: 20%;
                }
            }
        }
    }
}