@import "../../scss/variables";

.navbar-box {
    position: sticky;
    top: 0;
    // border-bottom: 1px solid ;
    width: 100vw;

    .navbar {
        height: 10vh;
        background-color: $colorThree;
        color: black;
        position: sticky;
        top: 0;

        .navbar-logo {
            cursor: pointer;
        }
    }


}

.navbar-display-name {
    // background-color: red;
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;

}
