@import "../../scss/variables";

.navbar-box {
    position: sticky;
    top: 0;

    .navbar {
        height: 10vh;
        background-color: $colorThree;
        color: black;
        position: sticky;
        top: 0;
    }


}


