@import "../../scss/variables";

.card-main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;

    .image-container {
        .card-image {
            background-color: black;
            width: 26rem;
            height: 14rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 300ms;
            &:hover {
                opacity: 0.5;
                transition: all 300ms;
            }
        }
    }
    .info-section {
        width: 50%;
        border-bottom: 1px solid;
        
        .date-div {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 0.9rem;
            }
            .user-icon {
                background-color: $colorTwo;
                padding: 0.5rem;
                border-radius: 43%;
            }
        }
        .title-div {
            h3 {
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
        .content-div  {
            margin-top: 0.6rem;
            height: 5rem;
            
            p {
                font-size: 1rem;
                line-height: 1.6rem;
                width: 100%;
                display: inline;
                display: inline-block;
                word-break: break-word; 
                text-align: justify;
                // table-layout:fixed;
                cursor: pointer;
            }
        }
        .info-section-down {
            display: flex;
            flex-direction: column;
            margin-top: 0.9rem;

            .user-info-div {
                div {
                    display: inline-block;
                    .span-email {
                        margin-left: 1rem;
                    }
                }
            }

            .icons-div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0.4rem;

                .icons-div-inner {
                    display: flex;
                    justify-content: space-between;
                    width: 35%;
                    margin-top: 0.3rem;
                    
                    

                    .likes-icon-div {
                        display: flex;
                        align-items: center;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        .info-icon {
                            font-size: 1.3rem;
                            cursor: pointer;
                        }
                    }
                }

                .icons-div-right {
                    span {
                        transition: all 300ms;
                        padding-top: 0.3rem;
                        padding-bottom: 0.3rem;
                        border-radius: 5px;
                        font-size: 0.9rem;
                        &:hover {
                            background-color: #fc743e;
                            cursor: pointer;
                            padding-top: 0.3rem;
                            padding-bottom: 0.3rem;
                            transition: all 300ms;
                        }
                    }
                }
            }
        }
    }
}